# Cloudinary Public Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=yylmfuqv
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=achyutam_preset

# Cloudinary Secret API Credentials
CLOUDINARY_API_KEY=462957832865732
CLOUDINARY_API_SECRET=9_ILtN3Z1nDSoLaKR3nC2WhAJgM
CLOUDINARY_URL=cloudinary://462957832865732:9_ILtN3Z1nDSoLaKR3nC2WhAJgM@yylmfuqv

# Firebase Web Application Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAd9IsebRyeetMXYE0qUpBMUNTI5oTQ4Wg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=achyutam-designs-public.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=achyutam-designs-public
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=achyutam-designs-public.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=462360499893
NEXT_PUBLIC_FIREBASE_APP_ID=1:462360499893:web:8ec2b48adc73673f3f90fc
